@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #171717;
  --primary-foreground: #ffffff;
  --secondary: #f0f0f0;
  --secondary-foreground: #171717;
  --muted: #f0f0f0;
  --muted-foreground: #2d2d2d;
  --accent: #f0f0f0;
  --accent-foreground: #171717;
  --destructive: #ff7b7b;
  --destructive-foreground: #ffffff;
  --border: #d0d0d0;
  --input: #d0d0d0;
  --ring: #2d2d2d;
  --chart-1: #e1b6b6;
  --chart-2: #a3d1a3;
  --chart-3: #c5d5c5;
  --chart-4: #a4d3d4;
  --chart-5: #d4b5b5;
  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
