@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defina as variáveis de tema claro */
:root {
  --background: #ffffff; /* Cor de fundo clara */
  --foreground: #171717; /* Cor do texto escura */
  --card: #ffffff; /* Cor do cartão clara */
  --card-foreground: #171717; /* Cor do texto no cartão escura */
  --popover: #ffffff; /* Cor do popover clara */
  --popover-foreground: #171717; /* Cor do texto no popover escura */
  --primary: #171717; /* Cor primária escura */
  --primary-foreground: #ffffff; /* Cor do texto primário clara */
  --secondary: #f0f0f0; /* Cor secundária clara */
  --secondary-foreground: #171717; /* Cor do texto secundário escura */
  --muted: #f0f0f0; /* Cor atenuada clara */
  --muted-foreground: #555555; /* Cor do texto atenuado escura */
  --accent: #f0f0f0; /* Cor de destaque clara */
  --accent-foreground: #171717; /* Cor do texto de destaque escura */
  --destructive: #ff6b6b; /* Cor destrutiva */
  --destructive-foreground: #ffffff; /* Cor do texto destrutivo clara */
  --border: #e0e0e0; /* Cor da borda clara */
  --input: #e0e0e0; /* Cor do input clara */
  --ring: #171717; /* Cor do anel escura */
  --chart-1: #ff6347; /* Cor do gráfico 1 */
  --chart-2: #4682b4; /* Cor do gráfico 2 */
  --chart-3: #4169e1; /* Cor do gráfico 3 */
  --chart-4: #32cd32; /* Cor do gráfico 4 */
  --chart-5: #ffa07a; /* Cor do gráfico 5 */
  --radius: 0.5rem; /* Raio de borda */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
